/*header contents*/
#header{
    background-color: #000000;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #ffffff;
    padding: 10px 10px 10px 10px;
    margin-bottom: 1.5rem;
    text-decoration: none;
}
#header h1{
    text-align: center;
    font-family: 'zen_dotsregular', Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-style:normal;  
}
#header nav {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 0;
    }
#header nav ul {
    text-align: center;
}
#header nav li {
    display: inline;
}
#header nav a {
    color:black;
    padding: 1.0rem 2.0rem;
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: 37%;
    margin-right: auto;
    width: 300%;
  }
  .logo2 {
    display: inline-flex;
    margin-left: 10px;
    margin-right: 5px;
    width: 1%;
    height: auto;
  }
img{
    max-width: 30%;
    height: auto;
}
/*Footer*/
.footer{
    background: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-right: 1%;
    text-align: center;
    color: rgb(180, 180, 180);
}
.footer-section li{
    display: inline;
}
/*about me page*/
.text{
    text-align: center;
    font-family: 'zen_dotsregular', Courier, monospace;
    padding-top: 2vh;
    padding-bottom: 8vh;
}
.picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: auto;
}

#slideshow {
    width: 325px;
    height: 325px;
    overflow: hidden;
    margin-left: 41.5%;
    margin-right: auto;
    border-width: 10px;
    border-color: red;
    
}
#slideshow .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
    border-width: 10px;
    border-color: red;
}
#slideshow .slide{
    float: left;
    list-style-position: none;
    width: 1080px;
    height: 1080px;
    border-width: 10px;
    border-color: red;
}
#title{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

body{
    background-color:#cacaca;
    margin-bottom: 1.5rem;
    text-decoration: none;
}
p{
    text-align: center;
}
@font-face {
    font-family: 'zen_dotsregular';
    src: url('zendots-regular-webfont.woff2') format('woff2'),
         url('zendots-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

