
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 0;
    padding-top: 40px;
    font-size: 80; 
    
}
#navigation > ol{
    list-style: none;
    margin: 10px;
    width: 900;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 38%;
    padding-right: 4%;
    padding-top: 10px;
}
#navigation > ol > li{
    display: inline;
    width: 120px;
    float: left;
    margin-left: 20px;
    border: 1px solid #000;
    text-align: center;
}
.slide{
    width: 100vw;
    height: 100vh;
    
}
.wrapper{
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg);
    transform-origin: top left;
}
.one{
    background: #00dfdf;
}
.two{
    background: #4400ff;
}
.three{
    background: #db0808;
}
.outer-wrapper{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
}

